@using WebApp.Models
@using WebApp.Services

@{
    DatabaseRepository<User> userTable = new DatabaseRepository<User>(new DB());
    var records = userTable.Read();
}

<div class="right_col" role="main">
    <div class="x_panel">
        <div class="x_title">
            <h2>User Details <small>Edit, delete or add new records to User table</small></h2>
            <a href="/admin/User/CreateRecord" class="nav navbar-right"><i class="fa fa-plus"></i></a>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>username</th>
                        <th>password</th>
                        <th>email</th>
                        <th>roleId</th>
                        <th>Settings</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in records)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.username</td>
                            <td>@item.password</td>
                            <td>@item.email</td>
                            <td>@item.roleId</td>
                            <td>
                                <a href="/admin/User/CreateRecord/@item.Id" title="Edit"><i class="fa fa-wrench"></i></a>
                                &nbsp;
                                <a href="/admin/User/DeleteRecord/@item.Id" title="Delete"><i class="fa fa-close"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>